fastapi
uvicorn
psycopg2-binary
sqlalchemy
pydantic
pika
pymemcache
prometheus-fastapi-instrumentator
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
email-validator
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2